**.out
**.err
**.png
**.pdf
**.log
**.bed
**.sff
**.rds
**.xls
**.arrow
**.bam
**.fastq
**.narrowPeak
**.sif
**.nextflow*
**__MACOSX/
**analysis_bg
**bowtie2
**simulated_data
**GRCh38
**.txt.gz
**data/
GRCh38-Closest-Genes-PC.tsv
**my_singularity_image
scripts/simulate_fragments/peak_based/input_data_P05/data