/*
 * -------------------------------------------------------
 *  Nextflow config — Sequenza Pipeline
 *  BAMs → seqz → first fit → refit at alternative solutions
 * -------------------------------------------------------
 */

//conda.enabled  = true
//conda.cacheDir = '/data/scratch/DMP/UCEC/GENEVOD/chris/.conda/envs/'

report {
    overwrite = true
}

// Clean up work directory after a successful run? (set true to save disk)
cleanup = false

executor {
    // This is set because of an issue with too many
    // singularity containers launching at once, they
    // cause an singularity error with exit code 255.
    submitRateLimit = "2 sec"
    perCpuMemAllocation = true
    queueSize = 40
}

singularity {
    enabled = true
    runOptions = "--bind /mnt:/mnt --bind /data:/data"
    autoMounts = true
    pullTimeout = 2.h
    cacheDir = '/data/rds/DMP/UCEC/GENEVOD/ggandolfi/Github/ProCESS-scATAC/scripts/simulate_fragments/peak_based/my_singularity_image'
    //cacheDir = '/data/scratch/shared/SINGULARITY-DOWNLOAD/nextflow/.singularity'
}

process {
    queue="compute"
    executor = "slurm"
    maxRetries    = 3
    maxErrors     = '-1'
    clusterOptions = '--mem-per-cpu=8000'

    resourceLimits = [
        memory: 385.GB,
        cpus: 48,
        time: 5.d
    ]

}
// -----------------------------------------------------------------------
// Profiles
// -----------------------------------------------------------------------

profiles {
    standard {
        process.executor = 'local'
        process.cpus = 1
        process.memory = '8 GB'
    }

    alma {
        process.executor = 'slurm'
        process.cpus = 8
        process.time = '24h'

        executor.queueSize = 100
    }
}
