/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    simulate-fragments pipeline configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Pipeline parameters
params {
    // Input: CSV samplesheet with columns: cellid,sampleid,cell_bed
    input        = null   // e.g. "samplesheet.csv"

    // Reference FASTA
    fasta        = null   // e.g. "/path/to/GRCh38/reference.fasta"
    bowtie2_index = null      //'/path/to/genome_index/genome'
    
    // ProCESS simulation files
    a_score = null
    peak_file = null
    fragment_size = null
    blacklist_file = null
    gaps_file = null
    cytoband_file = null
    fragment_size_out = null
    
    // art_modern simulation parameters
    fold_coverage = 2
    read_length   = 50
    min_qual      = 5

    // Output directory
    outdir       = "results"
    publish_dir_mode = "copy"
}

// Process resource labels
process {
    withLabel: 'process_low' {
        cpus   = 2
        memory = 8.GB
        time   = 3.h
    }
    
    withLabel: 'process_medium' {
        cpus   = 4
        memory = 8.GB
        time   = 3.h
    }
    
    withLabel:error_ignore {
        maxRetries  = 3
        errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
    }
}

// Execution profiles
profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
